<?xml version="1.0"?>
<launch>
   <arg name="robot_model" default="ur5e" doc="Type/series of used UR robot (ur3, ur3e, ur5, ur5e, ur10, ur10e, ur16e, ur20)" />
  <!--Robot description and related parameter files -->
  <arg name="joint_limit_params" default="$(find ur_description)/config/ur5e/joint_limits.yaml"/>
  <arg name="kinematics_params" default="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>
  <arg name="physical_params" default="$(find ur_description)/config/ur5e/physical_parameters.yaml"/>
  <arg name="visual_params" default="$(find ur_description)/config/ur5e/visual_parameters.yaml"/>
  
  <!--Common parameters -->
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" doc="The hardware_interface to expose for each joint in the simulated robot (one of: [PositionJointInterface, VelocityJointInterface, EffortJointInterface])"/>
  <arg name="safety_limits" default="false" doc="If True, enable the safety limits controller"/>
  <arg name="safety_pos_margin" default="0.15" doc="The lower/upper limits in the safety controller" />
  <arg name="safety_k_position" default="20" doc="Used to set k position in the safety controller" />

   <!-- load dual_robot URDF  -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find ur_gazebo)/urdf/dual_ur5e.xacro'
    robot_model:=$(arg robot_model)
    joint_limit_params:=$(arg joint_limit_params)
    kinematics_params:=$(arg kinematics_params)
    physical_params:=$(arg physical_params)
    visual_params:=$(arg visual_params)
    transmission_hw_interface:=$(arg transmission_hw_interface)
    safety_limits:=$(arg safety_limits)
    safety_pos_margin:=$(arg safety_pos_margin)
    safety_k_position:=$(arg safety_k_position)"
    />
  
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    </node> 
  
    <node name="rviz_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <!-- <remap from="/joint_states" to="gazebo_ros_control/joint_states"/> -->
    </node>
  
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur_gazebo)/config/view_robot.rviz" required="true" />

</launch>